body{
    background-color: black;
}
h1{
    color: #7FBA00;
    text-align: center;
    font-weight: 900px;
    margin: auto;
}
.parent{
    width: 80vw;
    margin: auto;
    text-align: center;
   
}
.child{
    display: inline-block;
    margin: 10px 50px;
    width: 120px;
    height: 120px;
    border-radius: 400px;
    background-color: beige;
    background-image: url(avatar.jpg);
    background-size: cover;
    border:  solid 10px black;
}
.a{
    outline: solid 10px #F25123 ;

}
.b{
    outline: solid 10px #01A3F1 ;

}
.c{
    outline: solid 10px #ffffff ;

}
.d{
    outline: solid 10px #7FBA00 ;

}
.name{
    color: #ffffff;
    display: inline-block;
    margin:5px 40px;
    line-height:3px;
    font-size: 25px;
}
.x p{
   color:#F25123
}
.y p{
    color: #01A3F1;
}
.z p{
    color: #ffffff;
}
.w p{
    color: #7FBA00;
}
h4{
    color: #F25123;
    text-align: center;
    font-size: 30px;
    margin: auto;
}
.pic{
    width: 80%;
    margin: auto;
    
}
img{
    width: 30;
    margin: 15px;
    float: left;
}
img[alt="phone"] ,img[alt="tablet"]{
    border-left: solid 10px #7FBA00;
}
img[alt="microphone"] , img[alt="writer"]{
    border-left: solid 10px #01A3F1;
}

img[alt="drone"],img[alt="camera"]{
    border-left: solid 10px #F25123;
}
